.rel-container-preguntas{
    position: absolute;
    top:0px;
    width: 48vw;
    left: 0;
}

.rel-button-question{
    display: block;
    height: 6.2em;
    margin-top: 2.5em;
    background-color: transparent;
}

.rel-comentario{
    position: fixed;
    bottom: 3em;
    right: 2em;
}

.rel-comentarioNav{
    position: fixed;
    top: 2em;
    right: 0px;
    z-index: 100000;
}


